#no-mobile {
  position: absolute;
  z-index: 99;
  height: 1400px;
  background-color: pink;
  width: 700px;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (max-width: 720px) {
  #no-mobile {
    display: none;
  }
}
